// Colors
$colors-primary: #BE52F2;
$colors-primary-light: #DBA5F5;
$colors-primary-lighter: #EEDFF2;

$colors-accent: #6979F8;
$colors-accent-light: #A5AFFB;
$colors-accent-lighter: #E5E7FA;

$colors-semantic-red: #ff647c;
$colors-semantic-red-light: #fdafbb;
$colors-semantic-red-lighter: #fbe4e8;

$colors-semantic-green: #00c48c;
$colors-semantic-green-light: #7ddfc3;
$colors-semantic-green-lighter: #d5f2ea;

$colors-semantic-blue: #0084f4;
$colors-semantic-blue-light: #FFE29D;
$colors-semantic-blue-lighter: #FFF8E7;

$colors-semantic-yellow: #ffcf5c;
$colors-semantic-yellow-light: #FFE29D;
$colors-semantic-yellow-lighter: #FFF8E7;

$colors-semantic-orange: #ffa26b;
$colors-semantic-orange-light: #ffc7a6;
$colors-semantic-orange-lighter: #ffe8da;

$colors-neutral-darkest: #1a051d;
$colors-neutral-darker: #3f3356;
$colors-neutral: #d0c9d9;
$colors-neutral-light: #ece9f1;
$colors-neutral-lighter: #f7f5f9;
$colors-neutral-lightest: #ffffff;

$colors-gradient-dark-start: #bd7ae3;
$colors-gradient-dark-end: #8461c9;

$colors-gradient-light-start: #cdddf4;
$colors-gradient-light-end: #cdbafa;

// Fonts
$font-primary: 'Roboto', sans-serif;